.header {
    background: $purple-gradient;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 75px;
        @include tablets {
            margin-bottom: 90px;
        }
        @include l-phones {
            margin-bottom: 80px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__img {
        margin-top: 15px;
        @include l-phones {
            width: 24px;
            height: 24px;
            margin-top: 17px;
        }
    }

    &__text {
        margin-top: 10px;
    }

    &__button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        -webkit-tap-highlight-color: transparent;
        @include l-phones {
            display: flex;
        }
    }

    &__bar {
        position: relative;
        bottom: -6px;
        right: 10px;
        font-size: 16px;
        font-weight: 700;
    }

    &__nav {
        @include l-phones {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &.active {
            display: flex;
        }
    }

    &__list {
        display: flex;
        position: relative;
        bottom: -10px;
        @include l-phones {
            flex-direction: column;
            position: static;
        }
    }

    &__item {
        margin-right: 40px;
        @include l-phones {
            text-align: center;
            margin-right: 0px;
            margin-bottom: 45px;
        }
    }

    &__item:first-child {
        @include l-phones {
            margin-top: 90px;
        }
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__link {
        font-size: 14px;
        line-height: 16.8px;
        @include l-phones {
            font-size: 27px;
            line-height: 36px;
            font-family: $font-lato-bold;
        }
    }

    &-main {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            font-family: $font-lato-bold;
            color: $color-white;
            max-width: 385px;
            width: 100%;
            font-size: 48px;
            margin-bottom: 130px;
            @include tablets {
                margin-bottom: 115px;
            }
            @include l-phones {
                margin-bottom: 125px;
                font-size: 38px;
                max-width: 210px;
                text-align: center;
            }
        }
    }
}